body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: greenyellow;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
    background-color: blue;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white; 
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}



#container{
    width:70%;
    padding: 1em;
    text-align: left;
    border: solid 1px black;
    margin: 0 auto;
}

#container h1 {
    font-size: 18px;
}