body{
    text-align: center;
    color: black;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera{
    background-color: blue url("../imagenes/descarga.jpg") 10px 10px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white; 
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    font-weight: bold;
}

#cabecera #logo{
    width: 80px;
    vertical-align: middle;
}



#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}



#container{
    width:70%;
    padding: 1em;
    text-align: left;
    border: solid 1px black;
    margin: 0 auto;
}

#container h1 {
    font-size: 18px;
}

#post{
    background: white;
    padding: 1em;
}
footer{
    background: purple;
    padding-top:50px ;
    margin-top: 383px;
}